*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: myriad;
    src: url('../fonts/MYRIADPRO-REGULAR.OTF');
}


.header {
    background-image: url('../img/header-bground-img.png');
    /* background-color: rgb(3, 15, 15); */
}

.navbar{
    color: white;
    display: flex;
    justify-content: space-around;
    height: 110px;
    position: sticky;
    top: 0px;
    
    
}
.sticky-hr{
    /* position: fixed; left: 1%; width: 98%; */
    /* position: sticky; */
    /* top: 100px; */
}

nav{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    /* padding-left: 30px;
    padding-right: 30px; */
    
    
}
.menuprincipal{
    display: flex;
    justify-content: space-around;
    font-family: myriad;
    
}
.menuprincipal li{
    list-style: none;
    padding-right: 20px;
}
.menuprincipal a:hover{
    border-bottom: 3px solid rgb(210, 18, 66);
    /* outline: 3px solid black; */
}

a{
    text-decoration: none;
    color: azure;
}

h1{
    color: azure;
    font-size: 153px;
    text-align: center;
}
.navobject{
    /* vertical-align: baseline; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navobject a{
    padding-left: 25px;
    font-family: myriad;
}

.fbk:hover{
    
}

.scrollbutton{
    background-color: transparent;
  border: 1px solid rgba(252, 252, 252, 0.993);
  color: white;
  padding: 20px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
    border-radius: 50%;
    cursor: pointer;
}
.hero{
    height: 770px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.text-scroll{
    color: white;
}

.sub-hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.burger div{
    width: 25px;
    height: 5px;
    background-color:rgb(210, 18, 66) ;
    margin: 5px;
    transition: all 0.3s ease;
}

.burger{
    display: none;
}

.toggle .line{
    transform: rotate(-45deg) translate(-5px,9px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-9px);
}


/* Léo */

#feature{
    background-color: rgb(210, 18, 66);
    color:white;
    height: 739px;
    margin: 0;
}

.icons{
    width: 35px;
}

.ftext{
    width: 264px;
}

.feature{
    position: relative;
    top: 200px;
    left: 12.5%;
    text-align: center;    
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 75%;
    
}

#icons{
    display: flex;
    justify-content: space-around;
    margin: 16px;
}

#title{
    display: flex;
    justify-content: space-around;
    margin: 16px;
}

#text{
    display: flex;
    justify-content: space-around;
    margin: 16px;
}

.ftittle{
    width: 264px;
}

.wicon{
    width: 210px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 698px;
    top: 100px;
}

h2{
    font-size: 38px;
    text-align: center;
}

.slogan{
    background-image: url('../img/W.png');
    background-repeat: no-repeat;
    height: 210px;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 6%;
}

#news{
    display: flex;
    flex-wrap: wrap;
}

.news{
    max-width:auto;
    width: 50%;
    height: auto;
}

.news1{
    width: 50%;
    background-color: rgb(34, 34, 34);
    color: white;
}

.news2{
    background-color: rgb(243, 243, 243);
    width: 50%;
}

.titlenews{
    font-size: 25px;
    margin-bottom: 10px;
}

.date{
    font-size: 13px;
    margin-bottom: 10px;

}

.tnew{
    font-size: 15px;
    margin-top: 35px;
}

.greyblock{
    width: 50%;
    height: 50%;
    margin-top: 15%;
    margin-left: 30%;
}

.whiteblock{
    width: 50%;
    height: 50%;
    margin-top: 15%;
    margin-left: 10%;
}

@font-face {
    font-family: "Gotham";
    src: url("/assets/font/Gotham\ Medium.otf") format("opentype");
}

.logoblog{
    height: 176px;
    background-image: url('../img/B.png');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 6%;
    margin-bottom: 120px;
}

.sloganblog{
    text-align: center;
    font-size: 30px;
    margin-bottom: 60px;
}

.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 50px;
}

.btitle{
    color:rgb(210, 18, 66);
    margin-top: 40px;
    font-size: 18px;
}

.btext{
    font-size: 15px;
    line-height: 20px;
    margin-top: 22px;
    margin-bottom: 80px;
}

.blogs{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    margin-left: 15%;
    margin-right: 15%;
}

.imgblog{
    height: 300px;
    width: 300px;
}

.footerred{
    background-color: rgb(210, 18, 66);
    min-height: 310px;
    color: white;
    display: flex;
    align-items: center ;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logofooter{
    height: 70px;
    margin: 20px;
}

.footer1{
    display: flex;
    align-items: center;
}

.footer2{
    display: flex;
    align-items: center;
}

.textfooter{
    width: 70vh;
    margin-left: 20px;
}

.footgrey{
    min-height: 130px;
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textfootgrey{
    color:white;
    padding-left: 5%;
    padding-right: 5%;
}


@media screen and (max-width:912px){
    .hero h1{
        color: azure;
        font-size: 100px;
        text-align: center;
    }
}

@media screen and (max-width:760px){
    body{
        overflow-x: hidden;
    }
    .menuprincipal {
        position: absolute;
        left: 0px;
        height: 100vh;
        top: 0vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translate(-100%);
        transition: transform 0.5s ease-in;
        background-color: rgb(0, 0, 0);
    }
    .menuprincipal li{
        /* opacity: 0; */
    }

    .burger{
        display: block;
        position: absolute;
        top: 40px; right: 40px;
        cursor: pointer;
    }
}

.nav-active{
    transform: translate(0%);
}

@media screen and (max-width:590px){
    .hero h1{
        
        font-size: 80px; 
    }

    .navobject a {
        padding-left: 11px;
        font-family: myriad;
    }
}
@media screen and (max-width:500px){
    .hero h1{
        
        font-size: 60px; 
    }
    .navobject{
        position: absolute;
        top: 342px; right: 111px;
        cursor: pointer;
    }
    .navobject a{
        padding-left: 34px;
    }
    
}